# 데이터 전처리 실습

타이타닉 데이터셋으로 데이터 전처리를 실습해 보자.
* 결측치 처리하기
* 데이터 스케일 조정
* 범주형 데이터 처리하기

1, 타이타닉 데이터 셋을 읽어 들인다.
```
import pandas as pd

titanic = pd.read_csv('https://raw.githubusercontent.com/aonekoda/reference/main/data/titanic.csv')
titanic.head()
```

In [1]:
import pandas as pd

titanic = pd.read_csv('https://raw.githubusercontent.com/aonekoda/reference/main/data/titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. 'Age' 컬럼의 결측치가 총 몇 건인가?

In [ ]:
titanic['Age'].isnull().sum()

177

3. 'Age'컬럼의 결측치를 중위수(median)으로 대체하시오.

In [ ]:
med = titanic['Age'].median()

titanic['Age'] = titanic['Age'].fillna(med)

In [ ]:
titanic['Age'].isnull().sum()

0

4. 'Fare' 컬럼을 StandardScaler()로 스케일을 조정하시오.

In [ ]:
from sklearn.preprocessing import StandardScaler

titanic['Std_Fare'] = StandardScaler().fit_transform(titanic['Fare'].values.reshape(-1,1))

In [ ]:
titanic[['Fare','Std_Fare']].head()

      Fare  Std_Fare
0   7.2500 -0.502445
1  71.2833  0.786845
2   7.9250 -0.488854
3  53.1000  0.420730
4   8.0500 -0.486337

5. 'Embarked' 컬럼을 원-핫 인코딩으로 변환해 보시오. (hint. pd.get_dummies)

In [ ]:
titanic = pd.get_dummies(titanic, columns=['Embarked'])
titanic.head()

   PassengerId  Survived  Pclass  ... Embarked_C Embarked_Q  Embarked_S
0            1         0       3  ...          0          0           1
1            2         1       1  ...          1          0           0
2            3         1       3  ...          0          0           1
3            4         1       1  ...          0          0           1
4            5         0       3  ...          0          0           1

[5 rows x 15 columns]